@model TrangwebCellPhoneS.Models.ViewModel.HomeProductVM
@using PagedList.Mvc;
<link rel="stylesheet" type="text/css" href="~/Content/SanPham.css" />

<link rel="stylesheet" href="~/Content/PagedList.css" />

@if (Model.NewProducts != null && Model.NewProducts.Any())
{
    <section>
            <h2>SẢN PHẨM MỚI</h2>


        <div class="feature-container">
            @foreach (var product in Model.NewProducts)
            {
                <div class="fproduct-item">
                    <div class="badges">
                        <span class="badge-installment">Trả góp 0%</span>
                    </div>

                    <div class="prod-image-wrapper">
                        <a href="@Url.Action("ProductDetails", "Home", new {id = product.ProductID})">
                            <img src="@Html.DisplayFor(modelItem => product.ProductImage)" alt="@product.ProductName" />
                        </a>
                    </div>

                    <div class="prod-info">
                        <a href="@Url.Action("ProductDetails", "Home", new {id = product.ProductID})" class="prodName">
                            @Html.DisplayFor(modelItem => product.ProductName)
                        </a>

                        <div class="prod-specs">
                            <span>@Html.DisplayFor(modelItem => product.Category.CategoryName)</span>
                        </div>

                        <div class="price-box">
                            <p class="prodPrice">@product.ProductPrice.ToString("N0")₫</p>
                        </div>

                        <div class="prod-actions">
                            <div class="rating">
                                <i class="fa-solid fa-star"></i> 5.0
                            </div>
                            <div>
                                <p class="prodSale">Đã bán:&nbsp; @Html.DisplayFor(modelItem => product.OrderDetails.Count)</p>
                            </div>
                            <div class="wishlist">
                                <span>Yêu thích</span> <i class="fa-regular fa-heart"></i>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
}
else
{
    <div class="container text-center" style="margin: 50px 0;">
        <p>Không tìm thấy sản phẩm nào.</p>
    </div>
}