<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - QUẢN TRỊ WEBSITE</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        .navbar-brand {
            font-weight: bold;
            font-size: 20px;
        }

        .nav-link {
            color: ghostwhite !important;
            font-weight: 500;
        }

            .nav-link:hover {
                color: ghostwhite !important;
                font-weight: bold;
            }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark" style="background-color: red;">
        <div class="container">
            @Html.ActionLink("CellPhoneS Admin", "Index", "Default", new { area = "Admin" }, new { @class = "navbar-brand" })         

            <div>
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Quản lý danh mục", "Index", "Categories", new { area = "Admin" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Quản lý sản phẩm", "Index", "Products", new { area = "Admin" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Quản lý người dùng", "Index", "User", new { area = "Admin" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Quản lý khách hàng", "Index", "Customer", new { area = "Admin" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Quản lý đơn hàng", "Index", "OrderList", new { area = "Admin" }, new { @class = "nav-link" })</li>

                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Hệ thống quản trị CellPhoneS</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>